---
import "@fontsource/nunito";
import Footer from "../blocks/footer.astro";
---

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />

        <!--====== Title ======-->
        <title>Ankerplaats Het Oosten</title>
        <meta name="generator" content={Astro.generator} />

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="/fonts/lineicons/font-css/LineIcons.css" />
        <link
            rel="shortcut icon"
            href=`${import.meta.env.BASE_URL}images/favicon.png`
            type="image/png"
        />
    </head>

    <body>
        <!--====== HEADER PART START ======-->

        <section class="header_area">
            <div class="navbar-area bg-white">
                <div class="container relative">
                    <div class="row items-center">
                        <div class="w-full">
                            <nav
                                class="flex items-center justify-between py-4 navbar navbar-expand-lg"
                            >
                                <a class="navbar-brand mr-5" href="index.html">
                                    <img
                                        src=`${import.meta.env.BASE_URL}images/logo.svg`
                                        alt="Logo"
                                    />
                                </a>
                                <button
                                    class="block navbar-toggler focus:outline-none lg:hidden"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarOne"
                                    aria-controls="navbarOne"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation"
                                >
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                </button>

                                <div
                                    class="absolute left-0 z-20 hidden w-full px-5 py-3 duration-300 bg-white lg:w-auto collapse navbar-collapse lg:block top-full mt-full lg:static lg:bg-transparent shadow lg:shadow-none"
                                    id="navbarOne"
                                >
                                    <ul
                                        id="nav"
                                        class="items-center content-start mr-auto lg:justify-end navbar-nav lg:flex"
                                    >
                                        <li class="nav-item ml-5 lg:ml-11">
                                            <a
                                                class="page-scroll active"
                                                href="#home">Home</a
                                            >
                                        </li>
                                        <li class="nav-item ml-5 lg:ml-11">
                                            <a class="page-scroll" href="#about"
                                                >About</a
                                            >
                                        </li>
                                        <li class="nav-item ml-5 lg:ml-11">
                                            <a
                                                class="page-scroll"
                                                href="#services">Services</a
                                            >
                                        </li>
                                        <li class="nav-item ml-5 lg:ml-11">
                                            <a class="page-scroll" href="#work"
                                                >Projects</a
                                            >
                                        </li>
                                        <li class="nav-item ml-5 lg:ml-11">
                                            <a
                                                class="page-scroll"
                                                href="#pricing">Pricing</a
                                            >
                                        </li>
                                        <li class="nav-item ml-5 lg:ml-11">
                                            <a class="page-scroll" href="#blog"
                                                >Blog</a
                                            >
                                        </li>
                                        <li class="nav-item ml-5 lg:ml-11">
                                            <a
                                                class="page-scroll"
                                                href="#contact">Contact</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                                <!-- navbar collapse -->
                            </nav>
                            <!-- navbar -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- header navbar -->

            <div
                id="home"
                class="header_hero bg-gray relative z-10 overflow-hidden lg:flex items-center"
            >
                <div class="hero_shape shape_1">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-1.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->
                <div class="hero_shape shape_2">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-2.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->
                <div class="hero_shape shape_3">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-3.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->
                <div class="hero_shape shape_4">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-4.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->
                <div class="hero_shape shape_6">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-1.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->
                <div class="hero_shape shape_7">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-4.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->
                <div class="hero_shape shape_8">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-3.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->
                <div class="hero_shape shape_9">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-2.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->
                <div class="hero_shape shape_10">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-4.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->
                <div class="hero_shape shape_11">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-1.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->
                <div class="hero_shape shape_12">
                    <img
                        src=`${import.meta.env.BASE_URL}images/shape/shape-2.svg`
                        alt="shape"
                    />
                </div><!-- hero shape -->

                <div class="container">
                    <div class="row">
                        <div class="w-full lg:w-1/2">
                            <div class="header_hero_content pt-150 lg:pt-0">
                                <h2
                                    class="hero_title text-2xl sm:text-4xl md:text-5xl lg:text-4xl xl:text-5xl font-extrabold"
                                >
                                    Creative Multipurpose Tailwind CSS <span
                                        class="text-theme-color">Template</span
                                    >
                                </h2>
                                <p class="mt-8 lg:mr-8">
                                    Lorem ipsum dolor sit amet, consetetur
                                    sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna.
                                </p>
                                <div class="hero_btn mt-10">
                                    <a class="main-btn" href="#0">Get Started</a
                                    >
                                </div>
                            </div>
                            <!-- header hero content -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
                <div class="header_shape hidden lg:block"></div>

                <div class="header_image flex items-center">
                    <div class="image 2xl:pl-25">
                        <img
                            src=`${import.meta.env.BASE_URL}images/header-image.svg`
                            alt="Header Image"
                        />
                    </div>
                </div>
                <!-- header image -->
            </div>
            <!-- header hero -->
        </section>

        <!--====== HEADER PART ENDS ======-->

        <slot />

        <Footer />

        <!--====== FOOTER PART START ======-->

        <!--====== FOOTER PART ENDS ======-->

        <!--====== BACK TOP TOP PART START ======-->

        <a href="#" class="scroll-top"><i class="lni lni-chevron-up"></i></a>

        <!--====== BACK TOP TOP PART ENDS ======-->
    </body>
</html>
<script is:inline>
    (function () {
        /* =====================================
        Sticky
        ======================================= */
        window.addEventListener("scroll", () => {
            const header_navbar = document.querySelector(".navbar-area");
            const sticky = header_navbar.offsetTop;

            if (window.pageYOffset > sticky) {
                header_navbar.classList.add("sticky");
            } else {
                header_navbar.classList.remove("sticky");
            }

            // Show or hide the back-top-top button
            const backToTo = document.querySelector(".scroll-top");
            backToTo.style.display =
                document.body.scrollTop > 50 ||
                document.documentElement.scrollTop > 50
                    ? "flex"
                    : "none";
        });

        // For menu scroll
        const pageLink = document.querySelectorAll(".page-scroll");

        for (const element of pageLink) {
            element.addEventListener("click", (e) => {
                e.preventDefault();
                document
                    .querySelector(element.getAttribute("href"))
                    .scrollIntoView({
                        behavior: "smooth",
                        offsetTop: 1 - 60,
                    });
            });
        }

        // Section menu active
        function onScroll(event) {
            const sections = document.querySelectorAll(".page-scroll");
            const scrollPos =
                window.pageYOffset ||
                document.documentElement.scrollTop ||
                document.body.scrollTop;

            for (const currLink of sections) {
                const value = currLink.getAttribute("href");
                const refElement = document.querySelector(value);
                const scrollTopMinus = scrollPos + 73;
                if (
                    refElement.offsetTop <= scrollTopMinus &&
                    refElement.offsetTop + refElement.offsetHeight >
                        scrollTopMinus
                ) {
                    document
                        .querySelector(".page-scroll")
                        .classList.remove("active");
                    currLink.classList.add("active");
                } else {
                    currLink.classList.remove("active");
                }
            }
        }

        window.document.addEventListener("scroll", onScroll);

        // ===== close navbar-collapse when a  clicked
        const navbarToggler = document.querySelector(".navbar-toggler");
        const navbarCollapse = document.querySelector(".navbar-collapse");

        for (const e of document.querySelectorAll(".page-scroll")) {
            e.addEventListener("click", () => {
                navbarToggler.classList.remove("active");
                navbarCollapse.classList.remove("show");
            });
        }

        navbarToggler.addEventListener("click", () => {
            navbarToggler.classList.toggle("active");
            // NavbarCollapse.classList.toggle('show')
        });
    })();
</script>
<style>
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Nunito", sans-serif;
        @apply text-body-color;
    }
    *:focus,
    button:focus {
        @apply outline-none shadow-none;
        outline-offset: none;
        outline: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        @apply font-bold m-0 text-black;
    }

    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }
    a,
    button {
        @apply transition-all duration-300;
    }
    .container {
        @apply px-4;
    }
    .row {
        @apply flex flex-wrap;
    }
    .main-btn {
        @apply inline-block font-medium text-base text-center rounded-full text-white cursor-pointer z-10 transition-all duration-300 bg-black overflow-hidden relative px-10 py-4 hover:bg-opacity-80 hover:text-white;
        border-top-right-radius: 0px;
    }

    .btn-hover {
        @apply relative overflow-hidden;
    }

    .border-btn {
        @apply border-2 border-theme-color text-theme-color bg-transparent border-solid;
    }
    .border-btn:hover {
        @apply text-theme-color relative;
    }

    .btn-hover::after {
        @apply absolute w-0 h-0 rounded-full top-1/2 left-1/2 transition-all duration-500 transform-gpu scale-0 -translate-x-1/2 -translate-y-1/2;
        padding: 50%;
        content: "";
        background: rgba(0, 0, 0, 0.05);
    }

    .btn-hover:hover::after {
        @apply scale-150;
    }

    .scroll-top {
        @apply w-11 h-11 bg-theme-color flex justify-center items-center text-white fixed bottom-8 right-8 rounded-md text-lg transition-all duration-300 z-20;
    }
    .scroll-top:hover {
        @apply text-white;
    }

    .section_title .sub_title {
        @apply text-base md:text-xl font-semibold text-theme-color;
    }
    .section_title .main_title {
        @apply text-2xl md:text-4xl font-bold mt-4;
    }
    .section_title p {
        @apply mt-5;
    }

    /* ============ navbar =========== */

    .navbar-area {
        @apply fixed top-0 left-0 w-full z-20 transition-all duration-300;
    }
    .sticky {
        @apply fixed bg-white shadow-md;
    }
    .collapse.show {
        @apply block;
    }
    .toggler-icon {
        @apply relative block duration-300 bg-black;
        height: 2px;
        width: 30px;
        margin: 6px 0;
    }
    .sticky .toggler-icon {
        @apply bg-black;
    }
    .active > .toggler-icon:nth-child(1) {
        @apply transform rotate-45;
        top: 7px;
    }
    .active > .toggler-icon:nth-child(2) {
        @apply opacity-0;
    }
    .active > .toggler-icon:nth-child(3) {
        top: -8px;
        transform: rotate(135deg);
    }
    .navbar-nav .nav-item a {
        @apply inline-block text-base font-normal text-body-color relative z-10 py-2 lg:py-1 hover:text-theme-color;
    }
    .navbar-nav .nav-item a.active {
        @apply text-theme-color;
    }

    /* =========== hero =========== */
    .header_hero {
        height: 900px;
    }
    @media (max-width: 1400px) {
        .header_hero {
            height: 800px;
        }
    }
    .hero_shape {
        @apply absolute opacity-40 -z-10;
    }
    .shape_1 {
        @apply top-150;
        left: 10%;
    }
    .shape_2 {
        @apply top-150;
        left: 30%;
    }
    .shape_3 {
        @apply top-200;
        left: 40%;
    }
    .shape_4 {
        @apply top-120;
        left: 50%;
    }
    .shape_5 {
        top: 40%;
        left: 14%;
    }
    .shape_6 {
        top: 34%;
        left: 48%;
    }
    .shape_7 {
        top: 60%;
        left: 80px;
    }
    .shape_8 {
        top: 55%;
        left: 38%;
    }
    .shape_9 {
        @apply bottom-25;
        left: 13%;
    }
    .shape_10 {
        @apply bottom-200 left-1/4;
    }
    .shape_11 {
        @apply bottom-20;
        left: 35%;
    }
    .shape_12 {
        @apply bottom-1/4;
        left: 42%;
    }
    .header_shape {
        @apply absolute top-0 right-0 h-full w-1/2;
    }
    .header_shape::before {
        content: "";
        background-color: #f5f5fc;
        transform: skewX(-15deg);
        width: 200%;
        @apply absolute top-0 left-0 h-full;
    }
    .header_image {
        @apply lg:absolute top-0 right-0 w-full lg:w-1/2 h-auto lg:h-full mx-auto mt-13 lg:mt-0 px-5 lg:px-0;
    }
    .header_image img {
        @apply max-w-full lg:w-auto xl:max-w-screen-md;
    }
</style>
